$blue: red;

$colors: (
    primary: rgb(33,33,33) ,
    secondary: rgb(150,131,109)
);

@function color($color-name){
    @return map-get($map: $colors, $key:$color-name );
}

@mixin radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
     border-radius: $property;

}
@mixin buttonn(){
    background-color: color(primary);
    color:color(secondary);
    border-color: color(secondary);
    border-width:1.35px;
    font-size: 1.15em;
}
@mixin btnhover(){
    background-color: color(secondary);
    opacity:0.7;
    color:color(primary);
    border-width:0;
    box-shadow:5px;
    font-size: 1.35em;
}

body{
    background: color(primary);
    nav{
        background: color(primary);
    }
}

.navbar-logo{
    margin:-11px -15px;
}
.nav-item{
    padding-right: 1vw;
    .nav-link{
        color: color(secondary) !important;
        font-size: 1.25em;
        font-family: 'Merriweather', serif;
    }
    .nav-link:hover{
        color: antiquewhite !important;
    }
}
.searchings{
    @include media-breakpoint-only(md){
        display:none !important;
    }
    .searchers{
        background: antiquewhite;
        @include media-breakpoint-only(lg){
            display:none !important;
        }
    }
    .fa-search{
        display:none;
        padding:0px 15px;
        font-size: 1.25em;
        color: color(secondary);
        @include media-breakpoint-only(lg){
            display:block;
        }
    }
    .searchs{
        @include buttonn();
    }
    .searchs:hover{
        @include btnhover();
    }
}

.carousel-item img{
    height:100vh;
    @media (min-width:768px) {
        width:100vw !important;
    }
    @include radius(1%);
}

.jumbotron{
    background: url("/images/jumbobg.jpg") !important;
    @include radius(3%);
    margin:5px;
    height:75vh;
    background-repeat: repeat-x !important;
    background-size: contain !important;
    @media (max-width:520px){
        background-size:auto !important;
        background-repeat: repeat !important;
    }
    h1{
        font-size: 2.5em;;
    }
    p{
        font-size: 1.35em;;
        display: none;
        @media (min-width:530px){
            display:block;
        }
    }
    a{
        @include buttonn();
        font-size: 1.45em;
    }
    a:hover{
        @include btnhover();
    }
    .jumbos{
        position:relative;
        top:25%;
        font-family: 'Crimson Text', serif;
    }
}

.card-columns {
    @include media-breakpoint-only(sm) {
      column-count: 2;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
    padding: 1.75rem;
    .card img{
        @media (min-width:576px) {
            height:18.17vw;
          }
        @include radius(5%);
    }
}

.lgroup{
    background-color:rgba(40,40,40,1);
    padding: 3vw;
    overflow: auto;
    color:color(secondary);
    h2{
        font-family: 'Merriweather', serif;
        color:rgb(150,150,109);
    }
    .listings a{
        font-family: 'Sawarabi Mincho', sans-serif;
        background: color(primary);
        color:color(secondary);
    }
    a.active{
        border-color:color(secondary);
        color:antiquewhite;
    }
    a:hover{
        border-color:color(secondary);
    }
    .contents{
        font-family: 'Sawarabi Mincho', sans-serif;
        font-size:1.35em;
    }
}

.forms{
    margin:5vw;
    padding: 3rem;
    border:5px;
    border-color: color(secondary);
    border-style: dotted;
    #subscribe{
        color:antiquewhite;
        font-size:1.75em;
        font-family: 'Pacifico', cursive;
        padding-bottom: 10px;
    }
    button{
        @include buttonn();
    }
    button:hover{
        @include btnhover();
    }
}
.modal-content{
    background: rgba(33,33,33,0.7);
    width:auto;
    padding:2vh;
}
.form-row, .form-group{
    color:antiquewhite;
    font-family: 'Work Sans', sans-serif;
    font-size:1.175em;
}
.popups p{
    color:antiquewhite;
    font-size:1.5em;
    font-family: 'Pacifico', cursive;
    padding-bottom: 10px;
}
.popups{
    padding:10vh;
    background-color: rgba(33,33,33,0.7);
    .close{
        font-size:2em;
    }
}

footer{
    background: rgba(40,40,40,0.8);
    padding: 20px 10px 10px 10px;
}
.footfoot{
    background: color(primary);
    margin: 0;

}
footer,.foots a, .footfoot a{
    color:color(secondary);
}
.copys a, .copys{
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self:center;
}
.icons i{
    padding: 0.5em 0.75em;
    font-size:1.35em;
}
.icons i:hover{
    font-size:1.5em;
    opacity: 0.7;
}